#global {
    -fx-background-image: url("background.png");
    -fx-background-size: cover;
}

#land {
    -fx-background-image: url("land.png");
    -fx-background-size: cover;
}

#panel {
    -fx-height: 72;
    -fx-background-color: #1C1917;
}

#santa,
#snow,
#ornaments,
#lights,
#gifts {
    -fx-height: 44;
    -fx-padding: 0 22 0 22;
    -fx-text-fill: #FFBA5A;
    -fx-background-color: #312E2A;
    -fx-background-radius: 22;
}

#santa:pressed,
#snow:pressed,
#ornaments:pressed,
#lights:pressed,
#gifts:pressed {
    -fx-background-color: #24211E;
}